  /* Map Box */

  #delbtn{
    margin-left: 5px;
  }
  .map-container {
    width: 470px;
    height: 300px;
    margin-top: 10px;
    }

    @media only screen and (max-device-width: 480px) {
      .map-container {
        width: 150px;
        height: 100px;
        margin-top: 10px;
        }
        #reviewdiv{
          width: 160px;
        }
        #delbtn{
          margin-left: 0%;
        }
    }