<div class="container justify-content-center align-items-center mt-3">
   <div class="row">
       <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
           <div class="card shadow">
               <img src="https://images.unsplash.com/photo-1606498266540-b64b7b256d46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ0fHxjYW1wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-card-top">
               <div class="card-body">
                   <h5 class="card-title" style="text-align: center; ">Login</h5>
                   <form (ngSubmit)="loginUser()" [formGroup]="form">
                    <!-- UserName Input -->
                    <div class="form-group">
                        <label for="username"> Enter UserName </label>
                        <input type="text" formControlName="username" [ngClass]="{'is-invalid':submitted && f.username.errors}" class="form-control" autofocus>
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">
                                username Is Required!
                            </div>
                        </div>
                    </div>
                    <!-- Password Input -->
                    <div class="form-group">
                        <label for="password"> Enter Password </label>
                        <input type="password" formControlName="password"  [ngClass]="{'is-invalid':submitted && f.password.errors}" class="form-control">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">
                                Password Is Required!
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-primary">Loign</button>
                    </div>                
                </form>
                <!-- <button  class="btn btn-info mt-2" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >  Forgotten Password?</button> -->
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-info" style="color: rgb(243, 240, 240);" [routerLink]="['/forgot-password']">Fogot Password?</button>
                </div>
               </div>
           </div>
       </div>
   </div>
</div>
