<div class="container justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow mb-2">
                <img src="https://images.unsplash.com/photo-1520732713659-8f14034ba7d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGNhbXB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="img-card-top">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; ">Register</h5>
                    <form (ngSubmit)="registerUser()" [formGroup]="form">
                        <!-- UserName Input -->
                        <div class="form-group">
                            <label for="username"> Enter UserName </label>
                            <input type="text" formControlName="username" [ngClass]="{'is-invalid':submitted && f.username.errors}" class="form-control">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">
                                    username Is Required!
                                </div>
                            </div>
                        </div>
                        <!-- Email Input -->
                        <div class="form-group">
                            <label for="email"> Enter Email </label>
                            <input type="email" formControlName="email"  [ngClass]="{'is-invalid':submitted && f.email.errors}" class="form-control">
                            <div id="emailHelp" class="form-text">Please enter a valid email , in case for password reset!</div>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">
                                    Email Is Required!
                                </div>
                            </div>
                        </div>
                        <!-- Password Input -->
                        <div class="form-group">
                            <label for="password"> Enter Password </label>
                            <input type="password" formControlName="password"  [ngClass]="{'is-invalid':submitted && f.password.errors}" class="form-control">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">
                                    Password Is Required!
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn btn-primary">Register</button>
                        </div>   
                    </form>  
                </div>
            </div>
        </div>
    </div>
 </div>

  