<div class="container justify-content-center align-items-center mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1528433556524-74e7e3bfa599?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUyfHxjYW1wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-card-top">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; ">Password Reset</h5>
                    <form (ngSubmit)="resetPassword()" [formGroup]="form">
                        <!-- UserName Input -->
                        <div class="form-group">
                            <label for="username"> Enter Email </label>
                            <input type="text" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}" class="form-control">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">
                                    Email Is Required!
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-2">
                            <button class="btn btn-primary">Send</button>
                        </div>  
                    </form>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-info" [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" > Home</button>                
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

