<div id="container">
    <h1> Reset Your Password </h1>
    <form (ngSubmit)="resetPassword()" [formGroup]="form">
        <!-- UserName Input -->
        <div class="form-group">
            <label for="username"> Enter Email </label>
            <input type="text" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}" class="form-control">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                    Email Is Required!
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg mt-3">Send</button>
        </div>
    </form>    <br>
    <button class="btn btn-info" [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" > Home</button>
</div>
