<h2 class="text-info">Change Your Password</h2>
<form (ngSubmit)="changePassword()" [formGroup]="form">
        <!-- UserName Input -->
        <div class="form-group">
            <label for="username"> Enter Password </label>
            <input type="password" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}" class="form-control">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                    Password Is Required!
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="username"> Confirm Password </label>
            <input type="password" formControlName="confirm" [ngClass]="{'is-invalid':submitted && f.confirm.errors}" class="form-control">
            <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
                <div *ngIf="f.confirm.errors.required">
                    Confirmation Password Is Required!
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg mt-3">Change</button>
        </div>
    </form>    